<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->
<!DOCTYPE html>
<html lang = "en"> 
   <head>
     <title>Backend Challenges | Free Code Camp</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
     <meta charset = "utf-8">     
     <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
     <link href="/public/style.css" rel="stylesheet" type="text/css">    
   </head>   
   <body>
      <div class="container">
        <header>API Basejump: <em>File Metadata Microservice</em></header><br>
        <article>
        <p>User Stories:</p>
          <p class="user">
            1) I can submit a FormData object that includes a file upload.<br>
            2) When I submit something, I will receive the file size in bytes within the JSON response
          </p>
        </article>
      <footer>
          <p><mark>Upload a file to see it's filesize.</mark></p>
          <form>
            <input id = "upload" type="file" maxlength="100">
            <button class="bttn" type="submit">Upload</button>
          </form>
          <section class="dreams">
            <ul id="dreams">
            </ul>
          </section> 
      </footer>
      </div>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
        <script src="/client.js"></script>
   </body>
</html>


<!--
<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        A Dream of the Future
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>Tell me your hopes and dreams:</p>
      <form>
        <input type="text" maxlength="100" placeholder="Dreams!">
        <button type="submit">Submit</button>
      </form>
      <section class="dreams">
        <ul id="dreams">
        </ul>
      </section>
    </main>

    <footer>
      <a href="https://glitch.com">
        Remix this in Glitch
      </a>
    </footer>

   
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>

  </body>
</html>
-->